.container {
    max-width: 120rem;
    background-color: var(--color-Grey-light-1);
    margin: 3rem auto;
    min-height: 50rem;
    box-shadow: 0 2.5srem 4rem rgba(0, 0, 0, 0.8);

    @media only screen and (max-width: 1200px) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}
.header{
    font-size: 1.8rem;
    background-color: var(--color-Grey-light-2);
    height: 7rem;
    border-bottom: 1px solid var(--color-Grey-light-3);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 500px) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
}
.content {
    display: flex;

    @media only screen and (max-width: 956px) {
        flex-direction: column;
    }
}
.sidebar {
    background-color: var(--color-Grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotel-view {
    flex: 1;
    // height: 80rem;
    color: black;
    font-size: 1.6rem;
}


.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-Grey-light-3);
    border-bottom: 1px solid var(--color-Grey-light-4);

    @media only screen and (max-width: 956px) {
        padding: 3rem;
      }
      
      @media only screen and (max-width: 600px) {
          flex-direction: column;
      }
  }
  
  .description {
    background-color: #fff;
    // box-shadow: ;
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: 956px) {
        padding: 2rem;
        margin-right: 2rem;
      }

    @media only screen and (max-width: 600px) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
  }
  
  .user-reviews {
    background-color: var(--color-Grey-light-1);
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
  }